.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    max-width: var(--content-width);
    margin: 0 auto;
    padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8rem) clamp(0.875rem, -5.0626rem + 25.333vw, 7.531rem);

    border: 2px solid var(--text-color, #000);
    background-color: var(--bg-color, #fff);
}

.header__title {
    text-transform: uppercase;

    font-family: var(--accent-font, sans-serif);
    font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    font-weight: 400;
    line-height: 1;
}

.header__subtitle {
    margin-top: 20px;

    text-transform: uppercase;

    font-family: var(--accent-font, sans-serif);
    font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
    font-weight: 400;
    line-height: 1;
}

.page {
    padding-top: 100px;

    background-image: var(--page-background);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    font-family: var(--main-font, sans-serif);
    font-size: 18px;
    line-height: 21px;

    min-inline-size: 320px;
    min-block-size: 100dvb;
    font-variation-settings: 'wght' var(--card-text-weight) 400;
}

.main {
    width: var(--content-width);
    margin: 100px auto 0 auto;
}

.card {
    margin-top: 48px;

    border: 2px solid var(--text-color, #000);
    background-color: var(--bg-color, #fff);
}

.card__title {
    padding: 4px 10px;

    font-size: 18px;
    line-height: 23px;
}

.card__text-container {
    display: flex;
    flex-direction: column;

    margin-top: 10px;
    padding-bottom: 27px;

    gap: 27px;
}

.card__text {
    padding: 0 25px;
}

.card__image-container {
    position: relative;
}

.card__label {
    position: absolute;
    z-index: 1;
    top: 25px;
    right: 25px;

    opacity: 0.5;
    color: var(--text-color, #000);
    text-shadow: -1px -1px 0 var(--bg-color),
    1px -1px 0 var(--bg-color),
    -1px 1px 0 var(--bg-color),
    1px 1px 0 var(--bg-color);

    font-family: var(--accent-font, fantasy);
    font-size: 14px;

    mix-blend-mode: hard-light;
}

.card__image {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 15px;

    border-block: 2px solid var(--text-color, #000);
}

.image-nostalgia {
    filter: sepia(0.8) hue-rotate(-10deg) contrast(0.8) brightness(0.9);
}

.image-neon {
    filter: saturate(2.5) contrast(1.4) brightness(1.5);
}

.image-pixel-dusk {
    filter: hue-rotate(30deg) saturate(1.2) brightness(0.8) contrast(1.08)
}

.image-green-invert {
    filter: invert(1) hue-rotate(10deg) saturate(1.5) brightness(0.74) contrast(0.77);
}

.image-sepia-brown {
    filter: saturate(0) contrast(1.05) brightness(1.18) sepia(1);
}

.image-blur {
    filter: blur(8px) saturate(1.5) brightness(1.2) contrast(1.05);
}

.image-green-red {
    filter: hue-rotate(120deg) saturate(1.4) brightness(0.9) contrast(0.6) blur(2px);
}

.card__buttons {
    display: flex;
    justify-content: end;

    padding: 0 25px 25px 0;
}

.card__like-button {
    position: relative;

    overflow: hidden;

    width: 130px;
    height: 39px;

    cursor: pointer;

    border: 2px solid var(--text-color, #000);
    background-color: var(--bg-color, #fff);

    font-family: var(--accent-font, sans-serif);
    font-size: 14px;
}

.card__icon-button {
    position: relative;

    width: 52px;
    height: 39px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: border-color 0.3s ease;

    border: 2px solid transparent;
    background-color: transparent;
}

.button__text {
    position: relative;

    color: var(--bg-color, #fff);

    mix-blend-mode: difference;
}

.save__button {
    position: relative;

    display: flex;
    overflow: hidden;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    margin: 50px auto 100px;
    padding: 15px 20px;

    cursor: pointer;

    border: 2px solid var(--text-color, #000);
    background-color: var(--bg-color, #fff);

    font-family: var(--accent-font, fantasy);
    font-size: 14px;

    gap: 8px;
}

.button__icon {
    position: relative;

    flex-shrink: 0;

    width: 28px;
    height: 28px;

    transition: color 0.5s ease-in-out;

    color: var(--bg-color, #fff);
    mix-blend-mode: difference;
}

.card__like-button:focus,
.save__button:focus {
    transition: box-shadow 0.3s ease;

    outline: none;
    box-shadow: 2px 2px 0 0 var(--text-color, #000);
}

.card__icon-button:focus {
    outline: none;
    border: none;
}

.card__like-button::before,
.save__button::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';
    transition: transform 0.5s ease-in-out;
    transform: scaleX(0);
    transform-origin: left;

    background-color: var(--text-color, #000);
}

.card__like-button:hover::before,
.save__button:hover::before {
    transform: scaleX(1);
}

.sparks {
    opacity: 0;
}

.core {
    transition: fill 0.3s 0.03s;

    fill: var(--bg-color, #fff);
}

.main-body {
    transition: fill 0.3s 0.05s;

    fill: var(--bg-color, #fff);
}

.heart {
    transform-origin: center;
}

.like-icon:hover .core {
    transition-delay: 0s;

    fill: var(--contour-color);
}

.like-icon:hover .main-body {
    transition-delay: 0.05s;

    fill: var(--contour-color);
}

.like-icon .core {
    transition-delay: 0.03s;
}

.like-icon .main-body {
    transition-delay: 0s;
}

.like-icon:active .core {
    transition-delay: 0s;

    fill: var(--animation-fill-color);
}

.like-icon:active .main-body {
    transition-delay: 0.05s;

    fill: var(--animation-fill-color);
}

.like-icon.is-liked .core {
    transition-delay: 0s;

    fill: var(--animation-fill-color);
}

.like-icon.is-liked .main-body {
    transition-delay: 0.05s;

    fill: var(--animation-fill-color);
}

.like-icon.is-liked .contour {
    transition: fill 0.3s 0.06s;

    fill: var(--animation-fill-color);
}

.like-icon.is-liked .heart {
    animation: scale-heart 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
    animation: sparks-opacity 0.3s 0.3s ease-in;
}

.like-icon .contour {
    transition: fill 0.1s linear;
}

@media (width <= 375px) {
    .main {
        width: 100%;
    }

    .card__text-container {
        margin-top: 4px;
        padding-bottom: 27px;

        gap: 29px;
    }

    .card__text {
        padding: 0 25px;
    }

    .save__button {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        gap: 8px;
    }

    .card__label {
        top: 15px;
        right: 15px;
    }
}

@supports ((text-stroke: 1px var(--bg-color)) or (-webkit-text-stroke: 1px var(--bg-color))) {
    .card__label {
        text-shadow: none;

        -webkit-text-stroke: 1px var(--bg-color);
        text-stroke: 1px var(--bg-color);
    }
}

.modal {
    position: fixed;

    max-width: 357px;
    max-height: fit-content;
    margin: auto;
    padding: 10px;

    border: 2px solid var(--text-color, #000);

    inset: 0;
}

.modal::backdrop {
    background-color: rgb(0 0 0 / 0.75);
}

.modal[open] {
    display: flex;
    flex-direction: column;

    padding: 20px;

    gap: 30px;
}

.modal__content {
    display: flex;
    align-items: center;

    gap: 16px;
}

.modal__icon {
    flex-shrink: 0;

    width: 39px;
    height: 39px;
}

.modal__content p {
    margin: 0;

    text-transform: uppercase;

    color: var(--text-color, #000);

    font-family: var(--accent-font, fantasy);
    font-size: 14px;
    line-height: 1.5;
}

.modal__button {
    position: relative;

    overflow: hidden;
    align-self: flex-end;

    width: 100%;
    padding: 10px 20px;

    cursor: pointer;

    border: 2px solid var(--text-color, #000);
    background-color: var(--bg-color, #fff);

    font-family: var(--accent-font, fantasy);
    font-size: 14px;
}

.modal__button:focus {
    transition: box-shadow 0.3s ease;

    outline: none;
    box-shadow: 2px 2px 0 0 var(--text-color, #000);
}

.modal__button::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';
    transition: transform 0.5s ease-in-out;
    transform: scaleX(0);
    transform-origin: left;

    background-color: var(--text-color, #000);
}

.modal__button:hover::before {
    transform: scaleX(1);
}

@media (width <= 375px) {
    .modal {
        max-width: calc(100vw - 40px);
    }

    .modal[open] {
        padding: 30px 42px;

        gap: 30px;
    }

    .modal__content {
        flex-direction: row;

        text-align: start;

        gap: 12px;
    }

    .modal__button {
        align-self: center;
    }
}