:root {
    --content-width: clamp(23.1875rem, 16.035rem + 30.516vw, 43.75rem);

    --main-font: 'Inter', sans-serif;
    --accent-font: 'PressStart2P', fantasy;

    --card-title-weight: 700;
    --card-text-weight: 400;

    --text-color: #000;
    --button-text-color: #000;
    --bg-color: #fff;
    --label-stroke-color: var(--bg-color);

    --contour-color: #000;
    --animation-fill-color: #FF0000;

    --page-background: repeating-linear-gradient(
            90deg,
            #d3d3d3 0 2px,
            transparent 2px 4px
    ),
    repeating-linear-gradient(
            180deg,
            #d3d3d3 0 2px,
            transparent 2px 4px
    ),
    linear-gradient(
            180deg,
            #e7e7e7 0.01%,
            #1a1a1a
    );
}